{% extends "./layout.njk" %}

{% block content %}
  {% include "./partials/hero.njk" %}
  {% include "./partials/theme_switch.njk" %}
  {% include "./partials/social.njk" %}
  {{ content | safe }}
{% endblock %}