{% extends "./layout.njk" %}

{% block content %}
  <div class="c-hero">
    <div class="container">
      <div>
        <h1 class="c-hero__heading">{{ pageTitle }}</h1>
        <p>Fan of sass, keeping it DRY, and champion for people</p>
      </div>
      <div class="c-hero__desc">
        <p>👋 Hello! {{ metadata.description }}</p>
        <br>
        <p>Please note this site is currently being updated 05/2021</p>
      </div>

    </div>
  </div>

  {{ content | safe }}

{% endblock %}