<!DOCTYPE html>
<html lang="en-GB">
  {% include "./partials/siteHead.njk" %}
  <body class="page">
    <div class="hidden">
      {% include './partials/sprite.svg' %}
    </div>
    {% if page.url == '/' %}
      {% set showHomeLink = false %}
    {% else %}
      {% set showHomeLink = true %}
    {% endif %}
    <div class="page__header">
      {% include "./partials/header.njk" %}
    </div>
    <main class="page__main">
    {% block content %}{% endblock %}
      {% include "./partials/footer.njk" %}
    </main>
    {% if version.js | length == 0 %}
      {% set JsVersion = '' %}
    {% else %}
      {% set JsVersion = version.js %}
    {% endif %}
    <script src="/index{{ JsVersion }}.js"></script>
  </body>
</html>