:root {
	--white: #fff;
	--black-900: #262626;
	--os9-lavender: #CCCCFF;
  --os9-azul:#333399;
	--os9-grey-200: #EEEEEE;
  --os9-grey-300: #DDDDDD;
  --os9-grey-400: #CCCCCC;
  --os9-grey-500: #BBBBBB;
  --os9-grey-600: #999999;
  --os9-grey-700: #808080;
  --os9-grey-800: #666666;
  --os9-pink: #000000;
	--corners: 24px;
  --base-unit: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
	font-family: "Inter", sans-serif;
  box-sizing: border-box;
	padding: var(--base-unit);
	display: block;
}

html {
  background-color: var(--os9-lavender);
}

.name {
  font-size: 20px !important;
  color: blue !important;
}

.name {
  padding: 20px 0;
  
  &:hover {
    background-color: gray;
  }
}


.window {
  background-color: white;
  border: 1px solid black;
  padding: 2px;
}

.window-header {
  background-color: green;
  padding: 10px;
  font-weight: bold;
  border: 1px solid green;
  padding: 2px;
  margin: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.window-header div{
  border: 1px solid orange;
  padding: 2px;
  margin: 4px;
}
