/* Base Styles */
@import './01base/variables.css';
@import './01base/reset.css';
@import './01base/typography.css';

/* Components */
@import './02components/text.css';
@import './02components/window.css';
@import './02components/navigation.css';
@import './02components/sticky.css';
@import './02components/tabs.css';
@import './02components/scoll-windown.css';

/* Utilities */
@import './03utilites/accessibility.css';