@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Titillium+Web&display=swap');

$font-sans: 'Titillium Web', sans-serif;
$font-decorative: 'Dosis', sans-serif;
$font-monospace: 'Courier New', Courier, monospace;
