$font-sans: 'Ariel', sans-serif;
$font-sans-bold: 'Ariel', sans-serif;
$font-sans-medium: 'Ariel', sans-serif;
$font-sans-light: 'Ariel', sans-serif;
$font-monospace: 'Courier New', Courier, monospace;
