/* Breakpoints */

$x-small: 576px; // 36em Phone
$small: 768px; // 48em Tablet
$medium: 992px; // 62em
$large: 1200px; // 75em Desktop
$x-large: 1600px; // 100em Xl Desktop

$page-width: 1060px;
$xxs: 'only screen and (min-width: 0)';
$xs: 'only screen and (min-width: ' + $x-small + ')';
$sm: 'only screen and (min-width: ' + $small + ')';
$md: 'only screen and (min-width: ' + $medium + ')';
$lg: 'only screen and (min-width: ' + $large + ')';
$xl: 'only screen and (min-width: ' + $x-large + ')';

/* Colors */
$white: #f7f7f7;
$lightGrey: #cdced1;
$black: #242221;
$gray: #545c52; //ebony

$bgDark: #2a1939;
$accent: #77eddf;

/* Base Unit */

$base: 1rem;
$base-px: 16px;

/* Animation */
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
