.container {
  max-width: 42em;
  margin: 0 auto;
  padding: 2rem;

  @media (min-width: $md) {
    padding: 6rem;
  }
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bgDark;
  color: $white;
  font-family: $font-sans;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
