@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.name {
  font-family: "Merriweather", serif;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 1rem;
  color: blue;
  padding: 20px 0;
  
  &:hover {
    background-color: gray;
  }
}
