.hidden {
  display: none;
}

/* a11y text for screen readers but will not display visually and take up whitespace in the layout */

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
