---
layout: base.njk
title: Resume of Sarah Binion
keywords: resume, cv, about, personal, profile, portfolio, Sarah Binion, leadership, technology, engineering, design
description: Personal website of Sarah Binion
---
{# This Content will be rendered inside the `src/_includes/partials/_about.njk` file. #}
<p class="text">Hi, I'm Sarah. A front-end engineer with 15+ years of experience shipping products across startups (Shortcut, Kin Insurance), enterprise clients (Allstate, Abbott Labs and Exelon) through consulting agencies (Rightpoint, Nerdery). My experience spans building accessible software, creating design systems, and leading fullstack product engineering teams.</p>
<p class="text">My work includes building accessible component libraries, leading WCAG compliance initiatives across multiple platforms and cross funtionally, leading product, marketing, and design system teams to deliver OKRs on time, and coaching engineers toward technical excellence by empahising code quality, user experience, and performance.</p>
<p class="text">I'm energized by solving problems that blur the role of product, design, and engineering. A gritty bias for action, attention to detail, and a commitment to building accessible, maintainable, people-first code that works for everyone drives how I like to work.</p>
