---
layout: base.njk
title: Resume of Sarah Binion
keywords: resume, cv, about, personal, profile, portfolio, Sarah Binion, leadership, technology, engineering, design
description: Personal website of Sarah Binion
---
{# This Content will be rendered inside the `src/_includes/partials/_about.njk` file. #}
<p class="mb-4">Hi, I’m Sarah, a technology leader with 15+ years of experience building scalable products, empowering engineering teams, and driving innovation from concept to delivery.</p>
<p class="mb-4">I help startups solve complex problems through thoughtful design, inclusive development, and people-first leadership. Whether I’m standing up design systems, improving accessibility, or coaching teams toward engineering excellence.</p>
