.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: var(--black-900);
  color: var(--white);
  padding: 8px;
  z-index: 100;
  
  &:focus {
    top: 0;
    outline: 2px dashed var(--os9-azul);
    outline-offset: -2px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  
  &:focus {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
  }
}