<section class="" style="border:1px solid green;">>
  <div class="">
    <h3 class="">Company</h3>
    <p class="">{{ author.org }}</p>
  </div>
  <div class="">
    <h3 class="">Current Focus</h3>
    <p class="">{{ author.currentFocus }}</p>
  </div>
</section>