<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ author.name }}",
  "url": "{{ author.url }}",
  "image": "{{ author.image }}",
  "sameAs": [
    "https://www.linkedin.com/in/sarahbinion/",
    "https://github.com/srhbinion"
  ],
  "jobTitle": "{{ author.title }}",
  "worksFor": {
    "@type": "Organization",
    "name": "Freelance"
  },
  "alumniOf": {
    "@type": "CollegeOrUniversity",
    "name": "University of Wisconsin"
  },
  "knowsAbout": [
    "Web Development",
    "JavaScript",
    "Leadership",
    "Accessibility",
    "UI Engineering"
  ],
  "description": "Inclusive Engineering Leader.",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "{{ author.address.addressLocality }}",
    "addressRegion": "{{ author.address.addressRegion }}",
    "addressCountry": "{{ author.address.addressCountry }}"
  }
}
</script>