<section id="draggable-container" aria-label="Skills showcase">
  <div class="items-wrapper desktop-canvas">
    <div class="draggable-item" data-x="800" data-y="20">
      {% include "partials/_window.njk" %}
    </div>
    {% for skill in author.skills %}
      <article class="draggable-item sticky-note {{skill.color}}" role="article" aria-label="{{ skill.typeSkills }} skills" data-x="{{skill.startPosition.x}}" data-y="{{skill.startPosition.y}}">
        <h4>{{ skill.typeSkills }}</h4>
        {% if skill.tools and skill.tools.length > 0 %}
          <ul>
            {% for tool in skill.tools %}
              <li>{{ tool.keyword }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </article>
    {% endfor %}  
  </div>
</section>