<section style="border:1px solid brown;">>
 <div class="window">
    <div class="window-header">
      <div>x</div>
      <p>Appearance</p>
      <div>C</div>
    </div>
    <div class="window-body">
      body
    </div>
 </div>
</section>