<section class="window">
  <div class="window-header">
    <button class="window-button"><span class="sr-only">close</span></button>
    <p class="window-name"><span>Appearance</span></p>
    <button class="window-button"></button>
    <button class="window-button"></button>
  </div>
  <div class="window-body">
    {% include "partials/_aside.njk" %}
    {% include "partials/_about.njk" %}
  </div>
</section>