<section class="window open" aria-hidden="false">
  <div class="window-header">
    <button class="window-button window__button--collapse"><span class="sr-only">collapse window</span></button>
    <p class="window-name"><span>Appearance</span></p>
    <button class="window-button window__button--expanded"><span class="sr-only">expand window</span></button>
  </div>
  <div class="window-body">
    {% include "partials/_about.njk" %}
  </div>
</section>