<!--TODO: Social Button-->
{% if showHomeLink == true %}
  {% set headerClass = 'c-header--bg' %}
{% endif %}

<header class="header {{ headerClass }}" data-header="data-header">
  {% if showHomeLink == true %}
    <h3 class="c-header__title">
      <a href="/">{{ metadata.title }}</a>
    </h3>
  {% endif %}
  <!-- nav-->
  <!--{% include "./nav.njk" %}-->
</header>