<div class="hero">
  <h1 class="hdg hdg__1">{{ pageTitle }}</h1>
  <p class="text">Fan of sass, keeping it DRY, and champion for people!</p>
  <p class="text">👋 Hello! I’m Sarah Binion a Senior / Team Lead Front-End Engineer at Kin Insurance and Co-Organizer of Write/Speak/Code Chicago Chapter. I have over fifteen years solving problems with web technologies and design. </p>
  <p class="text">My favorite things to geek out on are accessibility and design systems but I also spend a lot of my time as Lead focusing on team dynamics and simplifying complicated ideas. If I dig deeper for the foundational 'why' of may career, I would say it centers on empowering autonomy though technology.</p>
</div>