<h2 class="hdg">Want to see some code samples?</h2>
<ul class="text">
  <li>code pen</li>
  <li>git hub</li>
</ul>
<h2 class="hdg">Want to connect?</h2>
<ul class="text">
  <li>twitter</li>
  <li>link</li>
</ul>