.dropdown-toggle {
  background-color: var(--os9-grey-300);
  border: 1px solid var(--os9-grey-300);
  cursor: pointer;
  padding: .5rem;
  max-height: 40px;
  &:hover {
    background-color: var(--os9-grey-400);
    border-radius: 6px;
  }
  &:focus {
    outline: 2px dashed var(--os9-azul);
    outline-offset: -2px;
  }
  &:hover + .dropdown-menu {
    display: block; 
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 40px;
  left: 1.25rem;
  background-color: var(--os9-grey-300);
  border: 1px solid var(--os9-grey-400);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
  z-index: 1000;
  &:hover {
    background-color: var(--os9-grey-500);
    border-radius: 6px;
  }
  &:focus {
    outline: 2px dashed var(--os9-azul);
    outline-offset: -2px;
  }
}


.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-item {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 8px 16px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font: inherit;
  &:hover {
    background-color: var(--os9-grey-500);
  }
  &:focus {
    outline: 2px dashed var(--os9-azul);
    outline-offset: -2px;
  }
}