.loading {
  width: 22px;
  height: 22px;
  position: absolute;
  top: -4px;
  right: -4px;
  border-radius: 0 100% 0 0;
  border: 4px solid var(--os9-azul);
  border-color: var(--os9-azul) var(--os9-azul) transparent transparent;
  transform-origin: 0 100%;

  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}