.header {
  background-color: var(--os9-grey-300);
  position: fixed;
  width: 100%;
  max-height: 44px;
  z-index: 50;
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--black-900);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 1px 0 var(--os9-grey-400);
}

.nav {
  display: flex;
  flex-direction: row;
}

.logo {
  display: block;
  float: left;
  height: 20px;
  width: 22px;
  filter: drop-shadow(1px 1px 1px var(--black-900));
  & + .text-bold {
    margin-left: 1rem;
  }
}


.nav-list {
  display: flex;
  gap: 30px;
  list-style-type: none; /* Optional: removes bullets */
  margin: 0;
  padding: 0;
  & .nav-item {
    display: flex;
    flex-direction: row;
    gap: .5rem;
  }
}

.nav-link {
  display: block;
  font-family: var(--font-primary);
  color: var(--black-900);
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--os9-grey-300);
  padding: .5rem;
  max-height: 44px;
  text-decoration: none;
  &:hover {
    background-color: var(--os9-grey-500);
    border-radius: 6px;
  }
  &:focus {
    outline: 2px dashed var(--os9-azul); 
    outline-offset: -2px;
  }
}


@media (max-width: 768px) {

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100px;
  }
}